ALGO_MNEMONIC=your_25_word_algorand_mnemonic
ALGO_TESTNET_ADDRESS=YOUR_TESTNET_ADDRESS
ALGOD_URL=https://testnet-api.algonode.cloud
ALGOD_TOKEN=
INDEXER_URL=https://testnet-idx.algonode.cloud
INDEXER_TOKEN=
PORT=3010
